.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}

.w3-container {
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    height: 200px;
}