@charset "UTF-8";

/* CSS File */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}

.w3-container {
    padding: 60px;
    width: 100%;
    margin: 0 auto;
    height: 200px;
}

.je-center {
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 50px;
}

.info {
    border-left: 8px solid red;
    background-color: whitesmoke;
}

.dark {
    color: black;
}

.gray {
    color: gray;
}

.button1 {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(10%, -50%);
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: #00ff90;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    margin-top: 64px;
    margin-bottom: 20px;
}

.button1:hover {
    box-shadow: 0 14px 18px red;
    color: white;
    background-color: #00ff90;
    font-size: 17px;
    font-weight: 600;
}

.button {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-100%, -50%);
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: gray;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    margin-top: 64px;
    margin-bottom: 20px;
}

.button:hover {
    box-shadow: 0 14px 18px black;
    color: black;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
}

.bottomText {
    text-align: right;
    color: white;
    font-size: 18px;
}

.bottom_container {
    text-align: right;
    color: white;
}

.icon:hover {
    color: black;
    text-shadow: 2px 2px 4px #000000;
    ;
}